html {
    height: 100%;
 /*   background-color: black; */
}

body {
    display: flex;
    flex-direction: column;
     justify-content: flex-start;
    margin-top: 80px;
    align-items: center; 

}

/* Container div: */
#containerDiv {
    display: flex;
    
    flex-wrap: wrap; 
    width: 480px;
    height: 480px;
    gap: 0;
    border: 1px;
    border-style:solid;
}

#individualDivs {
    box-sizing: border-box;
    border: 0.5px;
    border-style: solid;
}

#createDiv {
    height: 50px;
    width: 50px;
}

