html {
    height: 100%;
 /*   background-color: black; */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 80px;
    align-items: center; 
    gap: 30px;

}

/* Container div: */
#containerDiv {
    display: flex;    
    flex-wrap: wrap; 
    width: 640px;
    height: 640px;
    gap: 0;
    border: 1px;
    border-style:solid;
}

#containerDiv * {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    
}

#createDiv {
    height: 50px;
    width: 50px;
}

#gridDivs {
    /* display: none; */
    width: 0;
    height: 0;
}

#individualDivs:hover {
    
}